name: Shell commands

on: [push]

jobs:
  run-shell-command:
    runs-on: ubuntu-latest
    steps:
      - name: echo a string
        run: echo "Hello Worlds"
      - name: multiline script
        run: | # this allows to run multiple commands
          node -v
          npm -v
      - name: python command
        run: |
          import platform
          print (platform.processor())
        shell: python
